/* Genrel settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  scroll-behavior: smooth;
}
/* -------------------------------- */

/*---- Color palette ----*/
:root {
  --white: #ffffff;
  --white-faded: #ffffffcd;
  --transparent: #ffffff00;
  --purple: #7023bf;
  --purple-hover: #5a169d;
  --black: #000000;
  --black-light: #131313;
  --black-lighter: #1b1b1b;
  --grey: #6f6f6f;
}
/* -------------------------------- */

/*---- Fonts ----*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
  color: var(--white);
}

p,
label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: var(--white-faded);
  margin-bottom: 1rem;
}

p {
  font-weight: 400;
}

label {
  font-weight: 500;
}

a {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--white);
}

.letter_banner h1,
.letter_banner h2 {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.white_outline {
  color: var(--transparent);
  -webkit-text-stroke: 1px var(--white);
}

.purple_fill {
  color: var(--purple);
}

#booking h2,
#artists h2,
#basket h2 {
  font-size: 3rem;
  text-align: center;
}

#booking h2,
#basket h2 {
  margin-bottom: 2rem;
}

#booking h3 {
  font-size: 1.5rem;
}

#formflow_1 h3,
#formflow_2 h3 {
  margin-bottom: 0.5rem;
}

#formflow_3 h3:nth-child(2) {
  margin-bottom: 0.5rem;
}

#booking h4,
#basket h4 {
  color: var(--purple);
}

#booking h4,
#booking h5,
#basket h5 {
  font-size: 1.3rem;
}

#basket h4 {
  font-size: 1.7rem;
}

#booking h4,
#formflow_1 h5,
#formflow_2 h5 {
  margin-bottom: 0.7rem;
}

.area_dropdown,
#people-spots,
[name="ticket-number"] {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--white);
  text-align: center;
}

#artists h3 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

#artists h4 {
  font-size: 1rem;
  margin-bottom: 2rem;
}

#artists button,
.button_outline,
.button_outline_after {
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

/* -------------------------------- */

/*---- Navigation ----*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  background-color: var(--purple);
  padding: 0.5rem 1rem;
  margin-left: 2rem;
}

li:hover {
  background-color: var(--purple-hover);
}

.nav_logo {
  width: 18%;
}

/* -------------------------------- */

/*---- Frontpage ----*/
#frontpage {
  background-image: url(./img/background.png);
  width: 100%;
  height: 100vh;
  background-position: 83% 0%;
}

.frontpage_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  margin-top: 6rem;
}

.frontpage_logo {
  width: 40%;
}

.letter_banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* -------------------------------- */

/*---- Booking ----*/
#booking,
#basket {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button_outline {
  border: 2px solid var(--grey);
  background-color: var(--transparent);
  padding: 0.5rem 2rem;
  color: var(--grey);
}

.button_outline_after {
  border: 2px solid var(--purple);
  background-color: var(--transparent);
  padding: 0.5rem 2rem;
  color: var(--white);
  cursor: pointer;
}

.button_outline_after:hover {
  border: 2px solid var(--purple-hover);
  background-color: var(--purple-hover);
}

/* Timer */
#timer {
  position: fixed;
  bottom: 350px;
  left: 0px;
  z-index: 99;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-hover);
  width: 8vh;
  min-width: 8%;
  height: 8vh;
  min-height: 8%;
  border-radius: 0 50% 50% 0;
  padding: 1rem;
}

.circle p {
  margin-bottom: 0;
}

/* Form flow 1 */
#formflow_1,
#formflow_1 h2 {
  margin-bottom: 4rem;
}

.area_dropdown,
#people-spots {
  border-radius: 0;
  background-color: var(--black);
  border: 1px solid var(--white);
  height: 3.5vh;
  width: 100%;
  cursor: pointer;
  margin-bottom: 2rem;
}

/* Form flow 2 */
.col {
  background-color: var(--black-light);
  margin-bottom: 1.3rem;
  padding: 1rem 2rem;
}

.ticket_type {
  margin-bottom: 3rem;
}

[name="ticket-number"] {
  border-radius: 0;
  background-color: var(--black);
  border: 1px solid var(--white);
  height: 3vh;
  width: 40%;
  cursor: pointer;
}

.optionals button {
  margin-top: 2rem;
}

#clear_button,
#goback_button {
  margin-right: 1rem;
}

/* Form flow 3 */
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.total h3,
.total h5 {
  margin-bottom: 0rem;
}

[name="name"],
[name="mail"] {
  border-radius: 0;
  background-color: var(--black);
  border: 1px solid var(--white);
  height: 3.5vh;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1rem;
  color: var(--white);
  text-align: center;
}

#formflow_3 col {
  background-color: var(--black-lighter);
}

/* -------------------------------- */

/*---- Basket ----*/

#basket input {
  border-radius: 0;
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white-faded);
  height: 3.5vh;
  width: 100%;
  cursor: pointer;
}

.credit_card_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credit_card_form input {
  margin-bottom: 2rem;
  text-align: center;
}

.complete_message {
  margin-bottom: 2rem;
}

.row input {
  margin-top: 0.5rem;
}

/* -------------------------------- */

/*---- ALL DISPLAY NONE ----*/

#timer {
  display: none;
}

#formflow_2 {
  display: none;
}

#formflow_3 {
  display: none;
}

#basket {
  display: none;
}

.complete_message {
  display: none;
}

.guest_ticket {
  display: none;
}

/* -------------------------------- */

/*---- Artists ----*/
#artists {
  padding: 4rem 1rem;
}

.artist_img {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 17vw;
  min-width: 170px;
  height: 17vw;
  min-height: 170px;
  border-radius: 50%;
}

.artist_img img {
  width: 17vw;
  min-width: 170px;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--black-light);
  margin: 2rem 0rem;
  padding: 1rem;
  gap: 20px;
}

#artists button {
  border: none;
  background-color: var(--purple);
  color: var(--white);
  padding: 0.5rem 1rem;
}

#artists button:hover {
  background-color: var(--purple-hover);
}

/* -------------------------------- */

/*---- Footer ----*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  padding: 2rem;
  text-align: center;
}

.footer_logo {
  width: 30%;
  margin-bottom: 2rem;
}

.company_info {
  margin-bottom: 2rem;
}

.company_socials svg {
  margin: 0.5rem;
}

/* -------------------------------- */

/*---- Media Queries ----*/
@media screen and (min-width: 768px) {
  /* Fonts */
  #booking h2,
  #artists h2,
  #basket h2 {
    font-size: 3.5rem;
    text-align: center;
  }

  #artists h3 {
    font-size: 2rem;
  }

  /* Navigation */
  nav {
    padding: 2rem;
  }

  .nav_logo {
    width: 10%;
  }

  /* Frontpage */
  #frontpage {
    background-position: 94% 0%;
  }

  .frontpage_logo {
    width: 30%;
  }

  /* Form flow 2 */
  .ticket_type,
  .optionals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #formflow_1,
  #formflow_2 {
    margin-bottom: 5rem;
  }

  /* Timer */
  #timer {
    bottom: 780px;
  }

  /* Basket */
  #basket {
    padding: 4rem 4rem;
  }

  /* Artists */
  #all_artists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    place-content: center;
  }

  article {
    margin-bottom: 0;
  }

  /* Footer */
  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_logo {
    width: 15%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* Fonts */
  .letter_banner h1,
  .letter_banner h2 {
    font-size: 3rem;
    margin-left: 2rem;
  }

  .white_outline {
    -webkit-text-stroke: 1.2px var(--white);
  }

  a {
    font-size: 1.4rem;
  }

  #booking h2,
  #artists h2,
  #basket h2 {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  #booking h2,
  #basket h2 {
    text-align: end;
  }

  #artists h3 {
    font-size: 3rem;
  }

  #artists h4 {
    font-size: 1.2rem;
  }

  #artists button {
    font-size: 1.4rem;
  }

  .button_outline {
    font-size: 1.2rem;
  }

  .button_outline_after {
    font-size: 1.2rem;
  }

  #booking h3,
  #basket h3 {
    font-size: 2rem;
  }

  #booking h4,
  #booking h5,
  #basket h5 {
    font-size: 1.5rem;
  }

  #basket h4 {
    font-size: 2.5rem;
  }

  p,
  label {
    font-size: 0.9rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  /* Navigation */
  .nav_logo {
    width: 6%;
  }

  li {
    padding: 0.5rem 1.5rem;
  }

  /* Frontpage */
  #frontpage {
    background-position: 50% 0%;
  }

  .frontpage_logo {
    width: 15%;
  }

  .frontpage_wrapper {
    margin-top: 3rem;
  }

  .letter_banner {
    flex-direction: row;
  }

  /* Booking */
  #booking {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    padding: 5rem 4rem;
    align-items: start;
    margin-top: 3rem;
  }

  #formflow_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #booking h3 {
    text-align: start;
  }

  .col {
    padding: 2rem 2rem;
    width: 100%;
  }

  /* Form flow 1 */
  #formflow_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-right: 4rem;
  }

  #formflow_1 .number_input {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #formflow_1 .dropdown {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .button_wrapper {
    text-align: end;
  }

  .area_dropdown,
  #people-spots {
    height: 4vh;
    width: 100%;
    text-align: start;
    padding-left: 0.5rem;
  }

  /* Form flow 2 */
  .ticket_type,
  .optionals {
    justify-content: start;
  }

  #formflow_2 {
    margin-bottom: 0rem;
    margin-right: 4rem;
  }

  /* Form flow 3 */
  #formflow_3 {
    text-align: start;
  }

  .total {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  [name="name"],
  [name="mail"] {
    text-align: start;
    padding-left: 0.5rem;
  }

  .your_ticket,
  .guest_ticket {
    margin-bottom: 1.5rem;
  }

  /* Timer */
  #timer {
    bottom: 460px;
  }

  /* Basket */
  #basket {
    padding: 5rem 4rem;
  }

  #basket input {
    width: 50%;
    height: 4vh;
  }

  #basket .total {
    max-height: 20%;
    margin: 0;
  }

  #formflow_4 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 1fr;
    gap: 30px;
    align-items: flex-start;
  }

  .credit_card_form {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #basket .total {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .complete_message {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #basket .button_wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }

  /* Artists */
  #artists {
    padding: 4rem;
  }

  #all_artists {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
  }

  article {
    margin-top: 0;
    padding: 2rem;
  }

  .artist_img {
    width: 25vw;
    max-width: 250px;
    height: 25vw;
    max-height: 250px;
  }

  .artist_img img {
    width: 25vw;
    max-width: 250px;
  }

  #artists button {
    padding: 0.3rem 1.2rem;
  }

  /* Footer */
  footer {
    padding: 4rem;
  }

  .footer_logo {
    width: 10%;
  }
}
/* -------------------------------- */
