/* Genrel settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  scroll-behavior: smooth;
}
/* -------------------------------- */

/*---- Color palette ----*/
:root {
  --white: #ffffff;
  --transparent: #ffffff00;
  --purple: #7023bf;
  --purple-hover: #5a169d;
  --black: #000000;
  --black-light: #131313;
  --black-lighter: #1b1b1b;
  --black-lightest: #1d1d1d;
}
/* -------------------------------- */

/*---- Fonts ----*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
  color: var(--white);
}

a {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--white);
}

.letter_banner h1,
.letter_banner h2 {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.white_outline {
  color: var(--transparent);
  -webkit-text-stroke: 1px var(--white);
}

.purple_fill {
  color: var(--purple);
}

#booking h2,
#artists h2 {
  font-size: 3rem;
  text-align: center;
}

#artists h3 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

#artists h4 {
  font-size: 1rem;
  margin-bottom: 2rem;
}

#artists button {
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  color: var(--white);
}

h6 {
  font-size: 1rem;
}

/* -------------------------------- */

/*---- Navigation ----*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  background-color: var(--purple);
  padding: 0.5rem 1rem;
  margin-left: 2rem;
}

li:hover {
  background-color: var(--purple-hover);
}

.nav_logo {
  width: 18%;
}

/* -------------------------------- */

/*---- Frontpage ----*/
#frontpage {
  background-image: url(./img/background.png);
  width: 100%;
  height: 100vh;
  background-position: 83% 0%;
}

.frontpage_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  margin-top: 6rem;
}

.frontpage_logo {
  width: 40%;
}

.letter_banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* -------------------------------- */

/*---- Booking ----*/
#booking {
  padding: 4rem 1rem;
}
/* -------------------------------- */

/*---- Artists ----*/
#artists {
  padding: 4rem 1rem;
}

.artist_img {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 17vw;
  min-width: 170px;
  height: 17vw;
  min-height: 170px;
  border-radius: 50%;
}

.artist_img img {
  width: 17vw;
  min-width: 170px;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--black-light);
  margin: 2rem 0rem;
  padding: 1rem;
  gap: 20px;
}

#artists button {
  border: 2px solid var(--purple);
  background-color: var(--transparent);
  padding: 0.5rem 1rem;
}

#artists button:hover {
  border: 2px solid var(--purple-hover);
  background-color: var(--purple-hover);
}

/* -------------------------------- */

/*---- Footer ----*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  padding: 2rem;
  text-align: center;
}

.footer_logo {
  width: 30%;
  margin-bottom: 2rem;
}

.company_info {
  margin-bottom: 2rem;
}

.company_socials svg {
  margin: 0.5rem;
}

/* -------------------------------- */

/*---- Media Queries ----*/
@media screen and (min-width: 768px) {
  /* Fonts */
  #booking h2,
  #artists h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  #artists h3 {
    font-size: 2rem;
  }

  /* Navigation */
  nav {
    padding: 2rem;
  }

  .nav_logo {
    width: 10%;
  }

  /* Frontpage */
  #frontpage {
    background-position: 94% 0%;
  }

  .frontpage_logo {
    width: 30%;
  }

  /* Artists */
  #all_artists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    place-content: center;
  }

  article {
    margin-bottom: 0;
  }

  /* Footer */
  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_logo {
    width: 15%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* Fonts */
  .letter_banner h1,
  .letter_banner h2 {
    font-size: 3rem;
    margin-left: 2rem;
  }

  .white_outline {
    -webkit-text-stroke: 1.2px var(--white);
  }

  a {
    font-size: 1.4rem;
  }

  #booking h2,
  #artists h2 {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  #booking h2 {
    text-align: end;
  }

  #artists h3 {
    font-size: 3rem;
  }

  #artists h4 {
    font-size: 1.2rem;
  }

  #artists button {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  /* Navigation */
  .nav_logo {
    width: 6%;
  }

  li {
    padding: 0.5rem 1.5rem;
  }

  /* Frontpage */
  #frontpage {
    background-position: 50% 0%;
  }

  .frontpage_logo {
    width: 15%;
  }

  .frontpage_wrapper {
    margin-top: 3rem;
  }

  .letter_banner {
    flex-direction: row;
  }

  /* Booking */
  #booking {
    padding: 4rem;
  }

  /* Artists */
  #artists {
    padding: 4rem;
  }

  #all_artists {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
  }

  article {
    margin-top: 0;
    padding: 2rem;
  }

  .artist_img {
    width: 25vw;
    max-width: 250px;
    height: 25vw;
    max-height: 250px;
  }

  .artist_img img {
    width: 25vw;
    max-width: 250px;
  }

  #artists button {
    padding: 0.3rem 1.2rem;
  }

  /* Footer */
  footer {
    padding: 4rem;
  }

  .footer_logo {
    width: 10%;
  }
}
/* -------------------------------- */
