/* Genrel settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  scroll-behavior: smooth;
}
/* -------------------------------- */

/*---- Color palette ----*/
:root {
  --white: #ffffff;
  --transparent: #ffffff00;
  --purple: #7023bf;
  --black: #000000;
  --black-light: #1b1b1b;
  --black-lighter: #1d1d1d;
}
/* -------------------------------- */

/*---- Fonts ----*/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", cursive;
  color: var(--white);
}

.letter_banner h1,
.letter_banner h2 {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.white_outline {
  color: var(--transparent);
  -webkit-text-stroke: 1px var(--white);
}

a {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--white);
}

/* -------------------------------- */

/*---- Navigation ----*/
header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  background-color: var(--purple);
  padding: 0.5rem 1rem;
  margin-left: 2rem;
}

.nav_logo {
  width: 18%;
}

/* -------------------------------- */

/*---- Frontpage ----*/
#frontpage {
  background-image: url(./img/background.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 83% 0%;
}

.frontpage_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  padding-top: 6rem;
}

.frontpage_logo {
  width: 40%;
}

.letter_banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
/* -------------------------------- */

/*---- Booking ----*/
#booking_section {
}

/* -------------------------------- */

/*---- Media Queries ----*/
@media screen and (min-width: 768px) {
  /* Navigation */
  nav {
    padding: 2rem;
  }

  .nav_logo {
    width: 10%;
  }

  /* Frontpage */
  #frontpage {
    background-position: 94% 0%;
  }

  .frontpage_logo {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  /* Fonts */
  .letter_banner h1,
  .letter_banner h2 {
    font-size: 3rem;
    margin-left: 2.5rem;
  }

  .white_outline {
    -webkit-text-stroke: 1.2px var(--white);
  }

  a {
    font-size: 1.4rem;
  }

  /* Navigation */
  .nav_logo {
    width: 6%;
  }

  li {
    padding: 0.5rem 1.5rem;
  }

  /* Frontpage */
  #frontpage {
    background-position: 50% 0%;
  }

  .frontpage_logo {
    width: 15%;
  }

  .frontpage_wrapper {
    padding-top: 0rem;
  }

  .letter_banner {
    flex-direction: row;
  }
}
/* -------------------------------- */
